/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #003d09;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: rgb(199, 0, 172);
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 3.6em;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #254D32;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/* Image style*/
img {
  border: 1px #000000;
  border-radius: 4x;
  padding: 5px;
  ;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Nav bar */

.navbar a{
  float: center;
  display: flex;
  background: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.main {
  margin-top: 30px;
}

/* Profile
------------------------------------*/
header {
  background: rgb(201, 201, 201);
  color: #181D27;
}


/* Projects
------------------------------------*/
.projects {
  background: rgb(240, 204, 0);
}
.projects a {
  color: #dd00dd;
}
.projects .btn {
  color: rgb(255, 153, 0);
  background: #000000;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: rgb(187, 255, 0);
}



/* Education
------------------------------------*/
.education {
  background-image: url(../images/postit.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
  background: rgb(0, 61, 12);
  color: #dd00dd;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
